body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "jersey sharp";
	cursor: url(cursor.cur) 0 0, pointer;
	background-image: linear-gradient(to left bottom, red, blue, purple);

}
.menu{
	width: 250px;
	
}
.menu .menu-item{
	height: 40px;
	border: 1px solid black;
	margin-bottom: -1px;
	background-color: #ff00009c;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s linear;
}
.menu .menu-item a{
	text-decoration: none;
	transition: 0.5s linear;
}
.menu .menu-item a:hover{
	transform: translateX(10px);
	text-decoration: underline;
}
.menu .menu-item:hover{
	background-color: lightgrey;
	transform: translateX(10px);
}

