body{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.carousel {
	width: 600px;
	position: relative;
}
.carousel .carousel-item, 
.carousel .hidden{
	display: none;

}
@keyframes next{
	0%{
		opacity: 0;
		transform: translateX(100%); 
	}
	100%{
		opacity: 1;

	}
}
@keyframes back{
	0%{
		opacity: 0;
		transform: translateX(-100%); 
	}
	100%{
		opacity: 1;

	}
}
.carousel .visible{
	display: block;
}
.carousel .carousel-item img{
	width: 100%;
	max-width: 600px;
}
.carousel .carousel-btns{
	display: flex;
	width: 100%;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.carousel .carousel-btns button{
	border: 0;
	border-radius: 50%;
	font-weight: bold;
	width: 50px;
	height: 50px;
	background-color: darkgrey;
}
.carousel .carousel-btns button:hover{
	opacity: 1;
	background-color: grey;
}

.carousel .carousel-dots{
	width: 100%;
	display: flex;
	justify-content: center;
	border: 1px solid black;
	border-radius: 10%;
}
.carousel .carousel-dots .dot{
	border: 1px solid black;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	margin: 10px;
	background-color: lightgrey;
}
